body div {
	font-family: Helvetica;
	background-color: #D23333;  
}
#logo {
	height: 80px;
	widows: 80px;
}
h1 {
	font-weight: 100;
}
.about-us {
	opacity: 0.4;
	color: red;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}
.link {
	opacity: 0.4;
	color: yellow;
}
.link:hover {
	opacity: 0.8;
	font-weight: lighter;
	color: #318877;
}